<template>
  <main>
    <h1>Create Todos App</h1>
    <TodoCreator @create-todo="createTodo"></TodoCreator>
    <ul v-if="todoList.length" class="todo-list">
      <TodoItem 
        v-for="(todo, index) in todoList" 
        :todo="todo" :index="index" 
        @toggle-complete="toggleComplete" 
        @edit-todo="editTodo" 
        @update-todo="updateTodo" 
        @delete-todo="deleteTodo"
        />
    </ul>
    <p class="todos-msg" v-else>
      <Icon icon="noto-v1:sad-but-relieved-face" />
      <span>You have no todo's to complete! Add one!</span>
    </p>
    <p v-if="completedTodo && todoList.length" class="todos-msg">
      <Icon icon="noto-v1:party-popper" />
      <span>You have completed all your todos!</span>
    </p>
  </main>
</template>

<script setup>
import TodoCreator from '@/components/TodoCreator.vue';
import { ref, watch, computed } from 'vue';
import { uid } from 'uid'
import TodoItem from '@/components/TodoItem.vue';
import { Icon } from '@iconify/vue';

const todoList = ref([])

watch(todoList, () => {
  setTodoLocalStorage()
},
{
  deep: true
}
)

const completedTodo = computed(() => {
  return todoList.value.every(todo => todo.isCompleted)
})

const fetchTodoList = () => {
  const savedTodoList = JSON.parse(localStorage.getItem('todoList'))
  if (savedTodoList) {
    todoList.value = savedTodoList
  }
}

fetchTodoList()

const setTodoLocalStorage = () => {
  localStorage.setItem('todoList', JSON.stringify(todoList.value))
}

const createTodo = (todo) => {
  todoList.value.push({
    id:uid(),
    todo,
    isCompleted: null,
    isEditing: null
  })
}
const toggleComplete = (index) => {
  todoList.value[index].isCompleted = !todoList.value[index].isCompleted
}
const editTodo = (index) => {
  todoList.value[index].isEditing = !todoList.value[index].isEditing
}
const updateTodo = (value, index) => {
  todoList.value[index].todo = value
}
const deleteTodo = (id) => {
  // todoList.value.splice(index, 1)
  todoList.value = todoList.value = todoList.value.filter(todo => todo.id !== id )
}
</script>

<style lang="scss" scoped>
main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 16px;

  h1 {
    margin-bottom: 16px;
    text-align: center;
  }
  .todo-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 24px;
    gap: 20px;
  }

  .todos-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
  }
}
</style>
